@{
    ViewData["Title"] = "Access Denied";
}


<div class="d-flex flex-column text-center p-3 mt-5">
    <h1 class="text-danger">Bạn không có quyền truy cập trang này</h1>
    <p class="text-white">Vui lòng <a href="/Account/Login">đăng nhập</a> với tài khoản quản trị để sử dụng tính năng này</p>
</div>