<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ApecDocs</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Roboto|Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" href="~/plugins/dataTable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/plugins/jstree/dist/themes/default/style.min.css" />
    <link rel="stylesheet" href="~/plugins/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2/dist/select2totree.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="loading-screen">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <header>
        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ApecDocs</a>
                @if (this.User.IsInRole("Admin") || this.User.IsInRole("SuperAdmin"))
                {
                    <a class="mr-auto mt-1 ml-2 text-white" href="/Role">Phân quyền</a>
                }
                <span class="ml-auto text-white mt-1 mr-3">Xin chào, @this.User.Identity.Name </span>
                <a class="text-white mt-1" href="/Account/Logout">Đăng xuất <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            © Created by AnhPT
        </div>
    </footer>
    <script src="~/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/plugins/dataTable/jquery.dataTables.min.js"></script>
    <script src="~/plugins/jstree/dist/jstree.min.js"></script>
    <script src="~/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/plugins/select2/dist/select2totree.js"></script>
    <script src="~/plugins/sweetAlert/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
