/* BASIC*/
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.text-red {
    color: #dc3545;
}
.whitebg{
    background: #FFF;
}
/*Loading screen*/
.loading-screen {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    opacity: 0.7;
    position: fixed;
    z-index: 9999;
    display: none;
}

.lds-ring {
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky header styles
-------------------------------------------------- */
header nav a:first-child {
    font-size: 30px;
    font-weight: bold;
}

header nav a:last-child {
    padding: 5px;
    border: 1px solid rgb(225,225,225,0);
}

header nav a:last-child:hover {
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 5px;
}

header nav a:last-child i {
    font-size: 20px;
}


/* Sticky main styles
-------------------------------------------------- */
.docmanage-content {
    overflow: hidden;
    margin-top: 20px;
}

.docmanage-content .row {
    margin: 0;
}

.docmanage-content .pad {
    padding: 0px 10px;
    float: left;
}

.docmanage-content .pad>div {
    height: 100%;
}

.docmanage-content .docitem-title {
    color: #dc3545;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 10px;
    overflow: hidden;
}

.docmanage-content .menutree {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 10px;
}

.docmanage-content .docsearch {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 10px;
}

.docmanage-content .doclist{
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.docmanage-content .docsearch .search-fields {
    overflow: hidden;
    margin-top: 10px;
}

.docmanage-content .docsearch .search-fields .form-group{
    float: left;
}

.docmanage-content .docsearch .search-fields span{
    display: block;
}

.docmanage-content .docsearch .search-fields select{
    width: 100%
}

.docmanage-content .docsearch button {
    display: block;
    margin: auto;
}

.docmanage-content .doclist .grid-title-name{
    float: left;
}

.docmanage-content .doclist .grid-button {
    float: right;
}

.docmanage-content .doclist .doc-grid table thead th {
    text-align: center;
    padding: 5px;
    border-bottom: none;
}

.docmanage-content .doclist .doc-grid table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.docmanage-content .doclist .doc-grid table tbody tr td i {
    font-size: 18px;
}

.create-doc-title {
    margin-top: 20px;
    padding-left: 20px;
    text-align: center;
}

.create-doc-title h3 span {
    color: #000;
    font-size: 14px;
}

.page-bar ul {
    padding: 10px 0px 10px 40px;
    color: #fff;
}

.page-bar ul li {
    display: inline;
}

.page-bar ul li a {
    color : #fff;
    text-decoration: none;
}

.create-content {
    overflow: hidden;
}

.create-content .content-items {
    margin : 0px 20px;
    padding-top: 20px;
    border: 1px solid #c5c5c5;
    overflow: hidden;
    border-radius: 5px;
}

.create-content div {
    float: left;
}
.create-content .create-button {
    text-align: center;
    margin: 20px 0px;
}

.create-content .create-button *{
    margin: 0px 10px;
    width: 80px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    margin: 20px 0px 5px 0px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    color: #eee !important
}
