@{
    ViewData["Title"] = "Role Page";
}

<div class="container-fluid docmanage-content">
    <div class="col-md-12 pad">
        <div class="doclist whitebg">
            <div class="docitem-title">
                <div class="grid-title-name">
                    <i class="fa fa-list"></i> &nbsp; <span>DANH SÁCH TÀI KHOẢN</span>
                </div>
                <div class="grid-button">
                    <a href="#" class="" data-toggle="modal" data-target="#modalAdd">
                        <i class="fa fa-plus"></i> Thêm mới
                    </a>
                </div>
            </div>
            <div class="doc-grid form">
                <table id="tbl-role" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>User Name</th>
                            <th>Tên đầy đủ</th>
                            <th>Quyền truy cập</th>
                            <th>Quyền phê duyệt</th>
                            <th>Quyền xoá</th>
                            <th>Quyền Admin</th>
                            <th></th>
                            <th>roleId</th>
                            <th>objectData</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm/Sửa tài khoản</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-none">
                                <input id="role-id" class="form-control" value="0">
                            </div>
                            <div class="form-group">
                                <span>Tài khoản</span>
                                <select id="role-user" class="form-control"></select>
                            </div>
                            <div class="d-flex flex-row mt-2 justify-content-around">
                                <div class="form-check">
                                    <input id="role-access" type="checkbox" checked/>
                                    <label for="role-access">Quyền truy cập</label>
                                </div>
                                <div class="form-check">
                                    <input id="role-approve" type="checkbox" />
                                    <label for="role-approve">Quyền phê duyệt</label>
                                </div>
                                <div class="form-check">
                                    <input id="role-delete" type="checkbox" />
                                    <label for="role-delete">Quyền xoá</label>
                                </div>
                                <div class="form-check">
                                    <input id="role-admin" type="checkbox" />
                                    <label for="role-admin" class="text-danger">Quyền Admin</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button id="btnSaveRole" type="button" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/Role.js"></script>
}