@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="create-doc-title">
    <h3 class="page-title text-red">
        THÊM MỚI <span>tài liệu & văn bản</span>
    </h3>
</div>
<div class="page-bar">
    <ul>
        <li>
            <i class="fa fa-home"></i>
            <a href="~/Home/Index">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Thêm mới tài liệu và văn bản</span>
        </li>
    </ul>
</div>
<div class="create-content col-md-12">
    <div class="content-items whitebg">
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <span>Tên tài liệu</span>
                <input id="display_name" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <span>File</span>
                <input id="doc_file" type="file" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <span>Loại file</span>
                <select id="doc_extension" class="form-control">
                    <option value="-1">--- Chọn định dạng file ---</option>
                    <option value="0">.CAD</option>
                    <option value="1">.PDF</option>
                    <option value="2">.JPG</option>
                    <option value="3">.DOC</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <span>Người phụ trách</span>
                <select id="doc_created" class="form-control">

                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <span>Nơi nhận</span>
                <input id="doc_receiver" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <span>Trạng thái</span>
                <select id="doc_status" class="form-control">
                    <option value="-1">--- Chọn trạng thái ---</option>
                    <option value="0">Pending</option>
                    <option value="1">Release</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <span>Ngày đăng</span>
                <input id="doc_created_date" type="date" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <span>Nơi lưu</span>
                <select id="doc_folder" type="text" class="form-control">
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <span>Mô tả</span>
                <textarea id="doc_description" type="" class="form-control" ></textarea>
            </div>
         </div>
        <div class="col-md-12 create-button">
            <button id="submitDocs" type="submit" class="btn btn-success">Lưu</button>
            <a href="~/Home/Index" type="button" class="btn btn-danger">Hủy</a>
        </div>
    </div>
</div>
<script src="~/js/Create.js"></script>