@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid docmanage-content">
    <div class="row">
        <div class="col-lg-3 col-sm-4 pad">
            <div class="menutree whitebg">
                <div class="docitem-title">
                    <i class="fa fa-bars"></i> &nbsp; <span>DANH MỤC</span>
                </div>
                <div class="treeview-content">
                    <div id="doctree">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-8 pad">
            <div class="docsearch whitebg">
                <div class="docitem-title">
                    <i class="fa fa-search"></i> &nbsp; <span>TÌM KIẾM TÀI LIỆU</span>
                </div>
                <div class="search-fields form">
                    <div class="form-group col-lg-12 col-sm-12">
                        <span>Dự án</span>
                        <select id="doc_folder" class="form-control"></select>
                    </div>
                    <div class="form-group col-lg-6 col-sm-6">
                        <span>Giai đoạn</span>
                        <input id="doc-stage" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6 col-sm-6">
                        <span>Loại file</span>
                        <input id="doc-type" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6 col-sm-6">
                        <span>Cơ quan ban hành</span>
                        <input id="doc-agency" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6 col-sm-6">
                        <span>Trạng thái</span>
                        <select id="doc-status" class="form-control">
                            <option value="-1">All</option>
                            <option value="1">Chờ duyệt</option>
                            <option value="2">Đã duyệt</option>
                            <option value="3">Ban hành</option>
                        </select>
                    </div>
                    <button id="btnSearchDocs" class="btn btn-danger">
                        <i class="fa fa-search"></i> Tìm kiếm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 pad">
        <div class="doclist whitebg">
            <div class="docitem-title">
                <div class="grid-title-name">
                    <i class="fa fa-list"></i> &nbsp; <span>DANH SÁCH TÀI LIỆU</span>
                </div>
                <div class="grid-button">
                    <a href="~/Home/Create" class="text-success">
                        <i class="fa fa-plus"></i> Thêm mới
                    </a>
                </div>
            </div>
            <div class="doc-grid form">
                <table id="tbl-docs" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Tài Liệu</th>
                            <th></th>
                            <th>Loại file</th>
                            <th>Thư mục</th>
                            <th>Người PT</th>
                            <th>Ngày đăng</th>
                            <th>Ngày duyệt</th>
                            <th>Người duyệt</th>
                            <th>Trạng thái</th>
                            <th>Ghi chú</th>
                            <th>Nơi nhận</th>
                            <th>DocumentId</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>